<nav>
    <div class="big-container">
        <div class="title">
            <span>Make your</span><span> food</span>
        </div>

        <div class="options">
            <div class="option">
                <lord-icon src="https://cdn.lordicon.com/xhebrhsj.json"  colors="primary:#432c99" trigger="hover" state="hover"> 
                </lord-icon>
                <a href="/home">Dashboard</a>
            </div>

            <div class="option">
                <lord-icon 
                    src="https://cdn.lordicon.com/sygggnra.json"
                    colors="primary:#432c99" trigger="hover" state="hover"
                >
                </lord-icon>
                <a href="/recipes">Recipes</a>
            </div>
            <div class="option">
                <lord-icon src="https://cdn.lordicon.com/kkcllwsu.json"  colors="primary:#432c99" trigger="hover" state="hover">
                </lord-icon>
                <a href="/famous">Favorite</a>
            </div>
            <div class="option">
                <lord-icon src="https://cdn.lordicon.com/njjuilvq.json"  colors="primary:#432c99" trigger="hover">
                </lord-icon>
                <a href="/about">About Us</a>
            </div>
            <div class="option">
                <lord-icon src="https://cdn.lordicon.com/cnyeuzxc.json"  colors="primary:#432c99" trigger="hover">
                </lord-icon>
                <a href="/contact">Contact</a>
            </div>
        </div>
    </div>
    <img class="bowl" src="/bowl.png" alt=":)">
    <div class="upload-new">
        <p>Share your own Recipe with the Community</p>
        <div class="upl-btn">
            <a href="/upload-Recipe">Upload Now</a>
        </div>
    </div>
</nav>