<div class="nav2">
    <div class="title2">
        <span>Featured</span><span> Recipe</span>
    </div>

    <div class="n2-recipe">
        <h1>Pizza</h1>

        <img src="/pizza.png" alt="recipe img">
        
        <div class="n2-text">
            <details>
                <summary style="cursor: pointer;"><b>Read More</b></summary>
                Pizza, dish of Italian origin consisting of a flattened disk of bread dough topped with some combination of olive oil, oregano, tomato, olives, mozzarella or other cheese, and many other ingredients, baked quickly—usually, in a commercial setting, using a wood-fired oven heated to a very high temperature—and served hot.
            </details>
        </div>
    </div>

    <div class="n-facts">
        <h1>Nutrition Facts</h1>
        <ul>
            <li><span>Calories : </span><span>154kcal</span></li>
            <li><span>Sugar : </span><span>2g</span></li>
            <li><span>Carbohydrates : </span><span>5g</span></li>
            <li><span>Fiber : </span><span>0g</span></li>
            <li><span>Protein : </span><span>12g</span></li>
            <li><span>Fat : </span><span>9g</span></li>
        </ul>
    </div>
</div>